{% extends 'base.html' %}
{% load static %}

{% block title %}Linea 50{% endblock %}

{% block content %}
<div class="productos">
    <h1>Productos</h1>
    {% for producto in productos %}
    <div class="producto_template">
        <img src="{{ producto.ImagenUrl }}" alt="producto">
        <!-- TODO: Que el boton diriga a una modal window con tal de que se muestre por encima
        los detalles del producto -->
        <button type="button" id="openModalBtn-{{ producto.id }}" data-modal-target="myModal-{{ producto.id }}">
            {{ producto.Nombre }}
        </button>

        <!-- Modal -->
        <div class="modal" id="myModal-{{ producto.id }}">
            <div class="modal-content">
                <span class="close-{{ producto.id }}">&times;</span>
                <h2>{{ producto.Nombre }}</h2>
                <img src="{{ producto.ImagenUrl }}" alt="producto">
                <p>{{ producto.Descripcion }}</p>
                <p>Precio: ${{ producto.Precio }}</p>
                <p>Dimensiones: {{ producto.Dimensiones }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<div class="fundadores">
    <!-- TODO: Agregar Rol, descripcion, redes de contacto de los fundadores, al igual que 
    posiblemente cambiar la font que utiliza el proyecto -->
    <h1>Fundadores</h1>
    <div class="fundador_template">
        <img src="{% static 'img/linea.png' %}" alt="linea50">
        <p>Rol</p>
        <p>Descripcion breve</p>
        <p>Redes de contacto</p>
    </div>
    <div class="fundador_template">
        <img src="{% static 'img/linea.png' %}" alt="linea50">
        <p>Rol</p>
        <p>Descripcion breve</p>
        <p>Redes de contacto</p>
    </div>
</div>


<div class="mision">
    <div class="mision_texto">
        <h2>Nuestra Misión</h2>
        <p>Descripcion breve</p>
    </div>
    <div class="mision_imagenes">
        <img src="{% static 'img/linea.png' %}" alt="linea50">
        <img src="{% static 'img/linea.png' %}" alt="linea50">
    </div>
</div>
{% endblock %}
